body {
  overflow: hidden;
}

.image-hover-effect {
  cursor: pointer;
}

.image-hover-effect::after {
  content: '';
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.image-hover-effect:hover::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-hover-effect img {
  cursor: pointer;
}

.home-gallery-grid {
  grid-template-rows: repeat(3, minmax(30vw, 480px));
  grid-template-columns: repeat(3, minmax(0, 1fr));
}


#gallery-container {
  overflow: scroll;
}

@media (min-width: 2000px) {
  .home-gallery-grid {
    grid-template-rows: repeat(4, minmax(520, 580px));
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 980px) {
  .home-gallery-grid {
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 780px) {
  .home-gallery-grid {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 580px) {
  main {
    display: flex;
    flex-flow: column;
    overflow: auto;
    height: 100vh;
  }

  main #gallery-container {
    overflow: initial;
  }
}