body {
  overflow: hidden;
}

.image-hover-effect {
  cursor: pointer;
}

.image-hover-effect::after {
  content: '';
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.image-hover-effect:hover::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-hover-effect img {
  cursor: pointer;
}
