.aside-header {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  position: sticky;
  transition: all .15s ease-in-out;
  height: 100vh;
}

@media screen and (min-width: 580px) {
  .aside-header {
    max-width: 280px !important;
    min-width: 280px !important;
    width: 280px !important;
  }
}

@media screen and (max-width: 580px) {
  .mobile-header {
    position: relative;
    width: 100vw;
    max-width: 100vw !important;
    min-width: 100vw !important;
    width: 100vw !important;
  }
}